/* components/Navigation/Navigation.module.css */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  
  .logo {
    color: #fff;
    font-size: 2rem;
    margin: 0;
  }
  
  .links {
    display: flex;
    gap: 10rem;
  }
  
  .links a {
    color: #fff;
    width: 10rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    transition: color 0.3s;
    text-align: center;
    border-top: 5px solid white;
  }
  
  .links a:hover {
    color: #44d62c;
  }
  
  .active {
    /* color: #44d62c !important; */
    
  }